<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smbms.mapper.BillMapper">
    <select id="getAll" resultType="com.smbms.entity.Bill">
        SELECT * FROM smbms_bill
        <where>
            <if test="productName!=null and productName!=''">productName LIKE CONCAT('%',#{productName},'%')</if>
            <if test="providerId!=null"> AND providerId=#{providerId}</if>
           <if test="isPayment!=null">AND isPayment=#{isPayment}</if>
        </where>
    </select>
</mapper>